# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build

# Production
dist

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea
.vscode
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
.venv/
ENV/

# WebAssembly build artifacts
*.wasm.map

# OS
Thumbs.db

# Logs
logs
*.log

# Editor directories and files
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
